<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Primeiros Passos </title>
</head>
<body>
    <h1> Primeiros Passos com HTML</h1>
    <hr />

    <h2>Índice</h2>
    <p><strong><u>INSTRUÇÕES:</u> </strong>Neste índice você deve colocar os tópicos que mais entendeu. Estes apenas são sugestões.</p>
    <ul>
        <li><a href="#">História dos computadores</a></li>
        <li><a href="#clientes">O que são <i>Clients</i>?</a></li>
        <li><a href="#server">O que são <i>Servers</i>?</a></li>
        <li><a href="#">Como é uma estrutura básica de um HTML?</a></li>
        <li><a href="#">Entendendo a diferença entre listas ordenadas e não ordenadas</a></li>
        <li><a href="#">Links de referências</a></li>
    </ul>

    <h2>História dos computadores</h2>
    <p>Hoje em dia, é quase impossível não usar o computador para diversas coisas, seja para trabalho ou lazer, ele está presente em grande parte das residências e dos estabelecimentos. No entanto, você conhece a sua trajetória?

        Mas, apesar dos modelos que conhecemos atualmente, e todo o progresso tecnológico dos aparelhos, a evolução dos computadores acompanhou a evolução da sociedade durante os séculos 20 e 21.
        Vale lembrar que, a palavra<strong><u>“computador”</u></strong> vem do verbo “computar” que, por sua vez, significa “calcular”. Sendo assim, podemos pensar que a criação de computadores começa a pelo menos 200 anos atrás. Confira dez pontos importantes na trajetória para termos os computadores que temos hoje.</p>
        
        
    

    <h2 id="clientes">O que são <i>Clients</i>?</h2>
    <p>Clientes são os <strong>usúarios</strong> que solicitam informações.</p>
       

    <h2 id="server">O que são <i>Servers</i>?</h2>
    <p>Servidores são os locais a onde as informações solicitadas pelos clientes ficam armazenadas.</p>

    <ul>
        <li><a href="https://www.dio.me/#">http://dio.me</a></li>
        
    </ul>

</body>
</html>